{% extends "base.html" %}

{% block title %}About - My Website{% endblock title %}

{% block content %}
<div class="grid grid-template-default">
    <div class="grid-item" style="grid-column: 4 / span 6;">
        <h1>About Us</h1>
        <p>This is a sample website demonstrating the use of Axum and Tera templates in Rust.</p>
        <p>Features:</p>
        <ul>
            <li>Dynamic routing with Axum</li>
            <li>Template rendering with Tera</li>
            <li>Static file serving</li>
            <li>Modern async runtime with Tokio</li>
        </ul>
    </div>
</div>
{% endblock content %} 